name: 'build-test'
on:
  pull_request:

jobs:
  test:
    name: run test ${{ matrix.os }} sdkversion ${{ matrix.sdk }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        sdk: [30, 32, 33]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.os }}-${{ matrix.sdk }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3

      - name: remove android sdk from ubuntu-latest
        shell: bash
        run: |
          echo 'ANDROID_HOME=' >> $GITHUB_ENV
          echo 'ANDROID_SDK_ROOT=' >> $GITHUB_ENV
          rm -rf ~/android

      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin

      - name: Setup Android SDK
        uses: ./
        with:
          cache-disabled: false
          sdk-version: ${{ matrix.sdk }}
          build-tools-version: '30.0.3'
          cmake-version: '3.10.2.4988404'
          ndk-version: '23.1.7779620'

      - run: |
          ./sample-android-project/gradlew -p sample-android-project assembleDebug --stacktrace